.cabin-font {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
}

.poppins-font {
  font-family: "Poppins";
  font-style: normal;
}
.nunito-font {
  font-family: "Nunito";
  font-style: normal;
  color: #545454;
}
.inter-font {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

.lato-font {
  font-family: "Lato";
  font-style: normal;
}
#inp-pet-searching {
  border-right: none;
}
.text-green {
  color: #07a081;
}
.bg-green {
  background-color: #07a081;
}
#highlight-section-left {
  background-image: url("../imgs/highlightSection/bgImgLeft.png");
  background-repeat: no-repeat;
  background-position-y: 85%;
}
#highlight-section-right {
  background-image: url("../imgs/highlightSection/bgImgRight.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 95%;
}
.rectangle-pets {
  background-image: url("../imgs/petList/rectangle.png");
  background-repeat: no-repeat;
}
li {
  list-style: none;
}
.card {
  border: none;
}
.card-title {
  font-weight: 600;
}
.p-discount {
  background-image: url("../imgs/petList/EllipseDiscount.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.contact-us-section-right-content {
  height: 500px;
}
.customer-section{
  background-image: url("../imgs/contact/PucciMart.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-y: 15%;
  /* background-position-x: ; */
}

#discount-frame-left {
  background-image: url("../imgs/discount/Vector\ \(1\).png");
  background-repeat: no-repeat;
  background-position-x: center;
}
#discount-frame-right {
  background-image: url("../imgs/contact/right-frame.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#little-frame-left{
  margin-bottom: 16px;
}
#little-frame-right{
  margin-top:4;
}

#discount-bg-img {
  background-image: url("../imgs/discount/PucciMart.png");
  background-size: 82%;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 42%;
}

.paging-btn:active {
  background-color: #07a081;
  outline: none;
}
#custom-hot-offer {
  padding: 16px;
  border-radius: 50%;
  background: #ff3c3c;
}


