@media only screen and (max-width: 770px) {
  #highlight-section-left {
    background-image: url("../imgs/highlightSection/bgImgLeft.png");
    background-repeat: no-repeat;
    background-position-y: 0%;
  }
  #highlight-section-right {
    background-image: url("../imgs/highlightSection/bgImgRight.png");
    background-repeat: no-repeat;
    background-position-y: 94%;
    background-position-x: 97%;
  }
  #discount-bg-img {
    background-image: url("../imgs/discount/PucciMart.png");
    background-size: 55%;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: 20%;
  }
 
  .right-content{
    margin-left: 200px;
  }
  .customer-section{
    background-image: url("../imgs/contact/PucciMart.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-y: 28%;
  }
}
@media only screen and (max-width: 995px) {
  #discount-left {
    background-image: url("../imgs/discount/Pucci.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 80%;
  }
  #discount-right {
    background-image: url("../imgs/discount/Mart.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-position-x: 80%;
  }
  #custom-hot-offer {
    padding: 8px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1024px) {
  #discount-frame-right {
    background-image: url("../imgs/contact/right-frame.png");
    background-size: 120%;
    background-repeat: no-repeat;
  }
}
